db.sqlite3
media/
*/migrations/*.py
!*/migrations/__init__.py
db-backup.sql
db-old.sqlite3
mysql_info.txt
media-old
/api/migrations/*
pip install Django djangorestframew.txt
/api/__pycache__/*
mysql_info.txt