body, html {
    direction: rtl;
    text-align: right;
}

#header, .module caption, h1, h2, h3, h4, h5, h6 {
    text-align: right;
}

.form-row, .object-tools {
    float: right !important;
}

.submit-row {
    text-align: left !important;
}

.breadcrumbs {
    text-align: right;
}
